<a href="/"><i class="fa fa-reply goHomeIcon" aria-hidden="true"></i></a>
<h1>Lägg till recept</h1>
<div class="info">( Ange ingredienser för 4 portioner )</div>

<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="recipeTitle" formControlName="title" name="title" matInput placeholder="Namn på recept">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Sök bland ingredienser för att lägga till" #userInput (keyup)="clearOptions(userInput.value)" (keyup)="getIngredients(userInput.value)"
      #inputField [formControl]="myControl" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let ingredients of allIngredients" (click)="onOptionSelected(ingredients)" (click)="inputField.value=''">
        {{ingredients.Namn}}<i class="fa fa-plus-circle addIcon"></i>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="yourIngredients markList is-number">
    <ol *ngFor="let ingredient of selectedIngredients; index as i">
      <li class="item">{{ingredient.amount}} {{ingredient.unit}} {{ingredient.Namn}}<i class="fa fa-minus-circle delIcon" (click)="removeIngredient(i)"
          aria-hidden="true"></i></li>
    </ol>
  </div>
  <mat-form-field style="width: 500px; margin-bottom: 15px">
    <textarea matInput formControlName="instructions" name="instructions" [(ngModel)]="instructions" placeholder="Instruktioner" rows="10" cols="50"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="imgUrl" formControlName="imgUrl" name="imgUrl" matInput placeholder="Länk till bild">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-select 
      placeholder="Taggar" 
      multiple 
      [(ngModel)]="selectedTags"
      [formControl]="categories"
      name="categories"
      formControlName="tags" 
      name="tags"
      ngDefaultControl>
        <mat-select-trigger>
          {{categories.value ? categories.value[0] : ''}}
          <span *ngIf="categories.value?.length > 1" class="example-additional-selection">
            (+{{categories.value.length - 1}} {{categories.value?.length === 2 ? 'annan' : 'andra'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let cat of categoryList" [value]="cat">{{cat}}</mat-option>
      </mat-select>
    </mat-form-field>
  <button type="submit" class="btn btn-success addRecipe" (click)="createNewRecipe()">Lägg till</button>
</form>