@import url('https://fonts.googleapis.com/css?family=Raleway');



.mat-form-field {
    margin-left: 100%;
    margin-top: 45px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.addIcon {
    float: right;
    cursor: pointer;
    margin-top: 15px;
    color: green;
}

.delIcon {
    margin-left: 8px;
    color: red;
    cursor: pointer;
}

.goHomeIcon {
    color: red;
    cursor: pointer;
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px;
}
  
.example-full-width {
    width: 100%;
}

.ingredientList {
    display: flex;
    justify-content: center;
    
}

.addRecipe {
    margin-left: 110%;
    margin-top: 25px;
    width: 80%;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.markList {
    width: 500px;
  }

  .markList.is-number {
    counter-reset: number;
  }
  .markList .item {
    display: flex;
    display: -ms-flexbox;
    align-items: baseline;
    -ms-flex-align: baseline;
    margin: 0 0 5px;
  }
  .markList .item::before {
    color: #009688;
    margin: 0 5px 0 0;
  }
  .markList.is-number .item::before {
    counter-increment: number;
    content: counter(number);
    flex-basis: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #673AB7;
    text-align: center;
  }

  .yourIngredients {
    margin-left: 95%;
    width: 100%;
    margin-top: 10px;  
  }
 


