<!DOCTYPE html>
<html>

<head>
  <title>Buttons</title>
</head>

<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Hem</a></li>
      <li><a href="/categories">Kategorier</a></li>
      <li class="addRecipeBtn" (click)="openModal(content)">Lägg till recept</li>
    </ul>
    <mat-form-field class="example-full-width">
        <input type="text" [formControl]="myControl" [(ngModel)]="userInput" (keyup)="clearOptions(userInput)" (keyup)="autocompleteRecipes(userInput)" matInput [matAutocomplete]="auto">
        <mat-placeholder class="placeholder"><i class="fa fa-search" aria-hidden="true"></i></mat-placeholder>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayNull">
           <mat-option *ngFor="let rec of filteredRecipes" (click)="recipeDetail(rec)">
            {{rec.Titel}}
          </mat-option> 
        </mat-autocomplete>
      </mat-form-field>
  </nav>

  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let rec of allRecipes">
      <img [src]="rec.bildURL" class="w-20" (click)="recipeDetail(rec)">
      <div class="carousel-caption">
        <h3>Populärt recept</h3>
        <p>{{rec.Titel}}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <ng-template #content let-modal>
    <div class="modal-header">
      <div class="modalInfo">Du måste tyvärr vara administratör för att kunna publicera recept. Vi söker ständigt nya medarbetare, 
        så vill du bli en del av vårt underbara team och därmed ha möjligheten att dela dina fantastiska recept med andra.
        Släng då iväg ett mail till oss på: <a href="mailto:info@matkoma.se">info@matkoma.se</a>
        <div class="userInfo">
          <p>anv: admin</p>
          <p>lösen: password</p>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <div class="input-group">
              <div class="input-group-prepend">
                  <i class="fa fa-user-secret" aria-hidden="true"></i>
                </div>
            <input [(ngModel)]="username" formControlName="username" name="username" value="username" type="text" name="username" class="form-control" placeholder="Användarnamn">
          </div>
          <div class="input-group">
              <div class="input-group-prepend">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
            <input [(ngModel)]="password" formControlName="password" name="password" type="password" name="password" class="form-control" placeholder="Lösenord">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Logga in</button>
    </div>
  </ng-template>
  
</body>

</html>