@import url('https://fonts.googleapis.com/css?family=Raleway');


.navbar {
    display: flex;
	/* background-image: url(''); */
    background-size: cover;
	padding-bottom: 50px;
	border-radius: 10px;
	
}

.modal-body {
	margin-top: 9px;
}

.modalInfo {
	font-family: 'Raleway', sans-serif;
}

input::placeholder {
	font-family: 'Raleway', sans-serif;
}

.input-group-prepend {
    margin-right: 12px;
	margin-top: 10px;
}

.input-group {
	margin-top: 4px;
	margin-bottom: 12px;
}

ngb-carousel h3, p {
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
}

::ng-deep .carousel-inner {
	overflow: inherit !important;
}

ngb-carousel:hover {
	cursor: pointer;
}

ngb-carousel:active, ngb-carousel:focus {
	outline: 0;
	border: none;
  }

::ng-deep .carousel-item {
	max-height: 300px;
	max-width: 300px;
	margin-left: 330px;
}

::ng-deep .carousel-item img {
	height: 350px;
	width: 550px;
	border-radius: 15px;
	border: 1.5px solid green;
	padding: 5px;
}

::ng-deep .carousel-indicators {
	z-index: 0 !important;
}

::ng-deep .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -25px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: #fff;
    text-align: center;
}


body { 
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 40px;
	background-color: #c7f0c9;
}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 90%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


.category-section {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.category-section img {
	border-radius: 20px;
	cursor: pointer;
}

.container:hover .overlay {
  opacity: 1;
}

.picbox {
	background-color: white;;
	display: flex;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
	
}

.searchbar {
	margin-top: 20px;
    background-color: transparent;
    margin-left: 28%;
	width: 46%;
	padding: 10px;
}

.searchbar::placeholder {
	color: white;
	font-weight: 500;
}

.picbox img {
	border-radius: 0%;
}

.thin_hr {
	margin-top:0;
	margin-bottom:0;
	border: 0;
	height: 2px;
	background-color:black;
	width: 99%;
	}

.navbar ul li ol, ul, dl {
    margin-top: 10px;
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

ul li a {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	position: relative;
	display: block;
	padding: 10px 20px;
	margin: 0 10px;
	text-decoration: none;
    color: black;
    font-weight: 600;
}

ul .addRecipeBtn {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	position: relative;
	display: block;
	padding: 10px 20px;
	margin: 0 10px;
	text-decoration: none;
    color: black;
	font-weight: 600;
	cursor: pointer;
}

ul .addRecipeBtn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-bottom: 1.5px solid green;;
	transition: all 300ms ease-in-out;
	opacity: 0;
}

ul .addRecipeBtn:hover:before {
	opacity: 1;
	width: 100%;
}


ul li a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-bottom: 1.5px solid green;;
	transition: all 300ms ease-in-out;
	opacity: 0;
}

ul li a:hover:before {
	opacity: 1;
	width: 100%;
}

.mat-form-field[_ngcontent-c1] {
    margin-left: 23%;
	margin-bottom: 30px;
	width: 50%;
}

.mat-form-field-underline {
    height: 1px !important;
    color: white !important;
}

.fa-search {
	font-size: 20px;
	color: green;
}

.userInfo p {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
	color: red;
	background-color: white;
}
