@import url('https://fonts.googleapis.com/css?family=Raleway');

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

h5 {
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.fatChild {
    list-style: none;
    font-size: 14px;
}

.imgSection img {
    position: relative;
    padding: 5px;
    height: 300px;
    width: 400px;
    margin-top: 30px;
    border-radius: 25px;
    margin-left: 5px;
}

.wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 200px 200px 200px;
    grid-template-rows: 300px 300px 300px;
    -ms-grid-columns: 200px 200px 200px;
    grid-template-columns: 300px 300px 300px;
    
    margin: 0 auto;
    margin-left: 20%;
}

.imgSection{
    grid-column: 1 / span 2;  
    grid-row: 1 / 2;
    
}

.nutrientSection{
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    margin-top: 50px;
}


.ingredientSection{
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    margin-top: 80px;
}

.instructionSection{
    grid-row: 2 / 3;
    grid-column: 2 / span 2;
    margin-top: 80px;
    margin-left: 180px;
    white-space: pre-wrap;
}


.imgSection , .nutrientSection , .ingredientSection , .instructionSection {
font-family: 'Raleway', sans-serif;
color: black;
font-size: 16px;
} 

.vl {
    border-left: 2px solid green;
    height: 400px;
    position: absolute;
    left: 45%;
    margin-left: -3px;
    margin-top: 26%;
}

.goHomeIcon {
    color: red;
    cursor: pointer;
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px;
}

