<a href="/categories"><i class="fa fa-reply goHomeIcon" aria-hidden="true"></i></a>
<h2>{{recipe[0].Titel}}</h2>
<div class="wrapper">
  <div class="imgSection">
    <img src="{{recipe[0].bildURL}}">
  </div>
  <span class="glyphicon glyphicon-time"></span>
  <div class="nutrientSection">
      <h5>Näringsinnehåll per portion i gram</h5>
    <ul>
      <li>Energi (kcal): {{totalNutrients.energi}}</li>
      <li>Protein: {{totalNutrients.protein}}</li>
      <li>Kolhydrater: {{totalNutrients.kolhydrater}}</li>
      <li>Fett: {{totalNutrients.fett}}</li>
      <li class="fatChild">- varav mättat: {{totalNutrients.mattatFett}}</li>
      <li class="fatChild">- varav omättat: {{totalNutrients.omattatFett}}</li>
    </ul>
    <mat-form-field>
        <mat-select placeholder="Portioner" value="4" #previousServings (click)="getPreviousServings(previousServings.value)">
          <mat-option *ngFor="let serv of servings" [value]="serv" (click)="calculateIngredients(serv)">
            {{serv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="ingredientSection">
    <ul *ngFor="let rec of recipe[0].Ingredienser">
      <li>{{rec.amount}} {{rec.unit}} {{rec.Namn}}</li>
    </ul>
  </div>
  <div class="vl"></div>
  <div class="instructionSection">
    {{recipe[0].Instruktioner}}
  </div>
</div>