<a href="/"><i class="fa fa-reply goHomeIcon" aria-hidden="true"></i></a>
<h1>Kategorier & Taggar</h1>

<div class="toggles">
  <button *ngFor="let cat of categoryList; index as i" id="btn{{i}}" (click)="toggleRecipe(cat)">{{cat}}</button>
</div>

<div class="imgTitle" *ngFor="let recipe of filteredRecipes" (click)="recipeDetail(recipe)">
  <img src="{{recipe.bildURL}}">
  <div class="overlay">{{recipe.Titel}}</div>
</div>