@import url('https://fonts.googleapis.com/css?family=Raleway');

h1 {
    text-align: center;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
}

.imgTitle {
    display: inline-block;
    margin: 2%;
    position: relative;
}

.toggles { 
    max-width: 800px;
    margin: 0 auto;
    display: block;
    clear: both;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
}

.goHomeIcon {
    color: red;
    cursor: pointer;
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px;
}
  
button {
    border: 1px solid green;
    border-radius: 40px; 
    background-color: #f5f5f5;
    display: inline-block;
    padding: 10px;
    width: 150px;
    overflow: visible;
    margin: 5px auto !important;
    cursor: pointer;
    outline:none; 
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    
}

.showAll {
    display:flex;
    justify-content: center;
    margin-bottom: -25px;
    margin-top: 30px;
}

.showAll button:hover {
    color: #FFF;
    background-color: #000;
}
  
button#btn0:hover {
    color: #FFF;
    background-color: tomato;
    border: 1px solid tomato
}

button#btn1:hover {
    color: #FFF;
    background-color: red;
    border: 1px solid red
}

button#btn2:hover {
    color: #FFF;
    background-color: orange;
    border: 1px solid orange
}

button#btn3:hover {
    color: #FFF;
    background-color: saddlebrown;
    border: 1px solid saddlebrown
}

button#btn4:hover {
    color: #FFF;
    background-color: darkgoldenrod;
    border: 1px solid darkgoldenrod
}

button#btn5:hover {
    color: #FFF;
    background-color: rosybrown;
    border: 1px solid rosybrown
}

button#btn6:hover {
    color: #FFF;
    background-color: lightskyblue;
    border: 1px solid lightskyblue
}
                    
button#btn7:hover {
    color: #FFF;
    background-color: lightsalmon;
    border: 1px solid lightsalmon
}

button#btn8:hover {
    color: #FFF;
    background-color: crimson;
    border: 1px solid crimson
}

button#btn9:hover {
    color: #FFF;
    background-color: #000;
    border: 1px solid #000;
    
}

button#btn10:hover {
    color: #FFF;
    background-color: midnightblue;
    border: 1px solid midnightblue;
}

button#btn11:hover {
    color: #FFF;
    background-color: forestgreen;
    border: 1px solid forestgreen;
}

button#btn12:hover {
    color: #FFF;
    background-color: burlywood;
    border: 1px solid burlywood;
}
        
button#btn13:hover {
    color: #FFF;
    background-color: deeppink;
    border: 1px solid deeppink;
}
        
button#btn14:hover {
    color: #FFF;
    background-color: darkgreen;
    border: 1px solid darkgreen
}

.covers{
    display: flex;
    flex-wrap: wrap; /* Creates rows */
    margin-left: 5%;
    margin-right: 5%;
}
      
img {
    position: relative;
    border: 1px solid green;
    padding: 5px;
    height: 280px;
    width: 300px;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 25px;
}

.overlay {
    position: absolute; 
    bottom: 2px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 95.5%;
    margin-left: 7.5px;
    margin-bottom: 4px;
    opacity:1;
    color: white;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

        
                            


  