<div mat-dialog-content>
  <p>Ange mängd och enhet för {{data.selectedIngredient.Namn}}</p>
  <mat-form-field>
    <input placeholder="Mängd" type="number" matInput width="10px" [(ngModel)]="data.amount">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Enhet" [(ngModel)]="data.unit">
      <mat-option *ngFor="let unit of units" [value]="unit">
        {{unit}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.unit == 'dl' || data.unit == 'cl' || data.unit == 'ml' || data.unit == 'l' || data.unit == 'msk' || data.unit == 'tsk' || data.unit == 'st'">
    <input placeholder="Ange enhet i gram" type="number" matInput width="10px" [(ngModel)]="data.unitInGrams">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Avbryt</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Spara</button>
</div>