/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.formFieldWidth480 .mat-form-field-infix {
    width: 250px;
 }

 .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    margin-left: 25px;
    margin-top: 25px;
}
 
body {
    background-color: #c7f0c9 !important;
}