@import '~@angular/material/theming';
@include mat-core();


.mat-chip-list-wrapper {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  margin: -4px !important;
  margin-left: 615px !important;
  margin-bottom: 10px !important;
}

mat-chip {
  overflow: inherit !important;
}


  $primary: mat-palette($mat-blue, 800);
  $accent: mat-palette($mat-orange, 800);
  $warn: mat-palette($mat-red, 800);

  $theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);